.App{
    margin:0;
    padding:0;
    background-color: white;
    
    border:1px solid black;
}
.header{
    position:fixed;
    top:0;
    z-index: 1000;
    width: 100%;
    height: 60px;
}
.pages{
    margin-top:60px;
}
.footer{
    bottom:0;
}
body{
  margin: 0px;
  overflow-x: hidden;
}