$primary-color1:black;
$primary-color2: #FFA500;
.header {
    display: flex;
    background-color: $primary-color1;
   // color: color.adjust($color, $saturation: 20%);
    padding: 0px;
    margin-top:0px;
    padding-top: 0px;
    margin:0;
 
}
.right-header{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-direction: row;
    gap: 50px;
    margin-right:200px;
    margin-bottom: 15px;


}
.link{
    text-decoration:none;
    color:white;
    font-size:15px;
    padding: 5px 15px;
    border:0.5px solid black;
    border-radius: 20px;
    &:hover{
        color:#FFA500;
        border-color:#FFA500;
    }
    &:active{
        border-color:#FFA500;
    }
}
.left-header{
    color:#FFA500;
    font-style:oblique;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    gap:20px;
    h1{
        bottom:0;

    }
}
.imgh{
    height:50px;
    width:40px;
    margin:0;

}